# For the Artillery Sidewinder X3 Pro/Plus:
#   - Compile with the processor model STM32F401.
#   - Select the 48KiB bootloader,
#   - Select USB PA11/PA12 for USB communication interface.
#   - Select USART2 PA3/PA2 for UART communication via the Wi-Fi Tx/Rx pins
# To set 48KiB bootloader, you need to make a change to make menuconfig
# In order to do this, you must subscribe to my youtube channel - http://www.youtube.com/theferalengineer ;) ;) ;)
#
# Rename klipper.bin to yuntu.bin
# Copy the file out/yuntu.bin to an SD card and then restart the printer with that SD card.
# See docs/Config_Reference.md for a description of parameters.



#[include moonraker_obico_macros.cfg]
#[include timelapse.cfg]

[mcu]
serial: /dev/serial/by-path/platform-5200000.usb-usb-0:1.4:1.0
restart_method: command

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 4300
max_z_velocity: 15
max_z_accel: 100
square_corner_velocity: 5
# Use these higher values just to configure Input Shaper 
#max_accel: 10000
#max_accel_to_decel: 10000

[virtual_sdcard]
path: ~/gcodes
on_error_gcode: CANCEL_PRINT

#[mcu CB1]  
#serial: /tmp/klipper_host_mcu    
#[adxl345]  
#cs_pin: CB1:None  
#spi_bus: spidev1.1
#[resonance_tester]
#accel_chip: adxl345
#probe_points:
#    100, 100, 20  # an example
    
[input_shaper]
shaper_freq_x: 48.6
shaper_type_x: mzv
shaper_freq_y: 38.0
shaper_type_y: mzv

[exclude_object]

[pause_resume]

[display_status]

[led LED_Light]
white_pin: PC2
initial_white: 1.0

[neopixel hotend_neopixel]
pin: PD2
color_order: GRB
initial_RED: 1.0
initial_GREEN: 1.0
initial_BLUE: 1.0

[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
gcode:
    TURN_OFF_HEATERS
    CANCEL_PRINT_BASE

[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: PAUSE_BASE
# change this if you need more or less extrusion
variable_extrude: 1.0
gcode:
    ##### read E from pause macro #####
    {% set E = printer["gcode_macro PAUSE"].extrude|float %}
    ##### set park positon for x and y #####
    # default is your max posion from your printer.cfg
    {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
    {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
    ##### calculate save lift position #####
    {% set max_z = printer.toolhead.axis_maximum.z|float %}
    {% set act_z = printer.toolhead.position.z|float %}
    {% if act_z < (max_z - 2.0) %}
        {% set z_safe = 2.0 %}
    {% else %}
        {% set z_safe = max_z - act_z %}
    {% endif %}
    ##### end of definitions #####
    PAUSE_BASE
    G91
    {% if printer.extruder.can_extrude|lower == 'true' %}
      G1 E-{E} F2100
    {% else %}
      {action_respond_info("Extruder not hot enough")}
    {% endif %}
    {% if "xyz" in printer.toolhead.homed_axes %}
      G1 Z{z_safe} F900
      G90
      G1 X{x_park} Y{y_park} F6000
    {% else %}
      {action_respond_info("Printer not homed")}
    {% endif %} 
    
[gcode_macro RESUME]
description: Resume the actual running print
rename_existing: RESUME_BASE
gcode:
    ##### read E from pause macro #####
    {% set E = printer["gcode_macro PAUSE"].extrude|float %}
    #### get VELOCITY parameter if specified ####
    {% if 'VELOCITY' in params|upper %}
      {% set get_params = ('VELOCITY=' + params.VELOCITY)  %}
    {%else %}
      {% set get_params = "" %}
    {% endif %}
    ##### end of definitions #####
    {% if printer.extruder.can_extrude|lower == 'true' %}
      G91
      G1 E{E} F2100
    {% else %}
      {action_respond_info("Extruder not hot enough")}
    {% endif %}  
    RESUME_BASE {get_params}

[force_move]
enable_force_move: True

[gcode_macro load_filament]
gcode:
  SET_LED LED="hotend_neopixel" RED=1 GREEN=0 BLUE=0 SYNC=0 TRANSMIT=1
  M109 S220
  G91
  G1 E100. F500.
  G1 E-2.
  G4 P5000
  M104 S0
  SET_LED LED="hotend_neopixel" RED=1 GREEN=1 BLUE=1 SYNC=0 TRANSMIT=1

[gcode_macro unload_filament]
gcode:
  SET_LED LED="hotend_neopixel" RED=1 GREEN=0 BLUE=0 SYNC=0 TRANSMIT=1
  M109 S220
  G91
  G1 E-100. F3000.
  G4 P5000
  M104 S0
  SET_LED LED="hotend_neopixel" RED=1 GREEN=1 BLUE=1 SYNC=0 TRANSMIT=1

[gcode_macro calibrate_probe]
gcode:
    probe_calibrate

[gcode_macro pid_nozzle]
gcode:
    TURN_OFF_HEATERS
    PID_CALIBRATE HEATER=extruder TARGET=230
    SAVE_CONFIG

[gcode_macro pid_bed]
gcode:
    TURN_OFF_HEATERS
    PID_CALIBRATE HEATER=heater_bed TARGET=60
    SAVE_CONFIG

[idle_timeout]
gcode:
  {% if printer.pause_resume.is_paused %}
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET=0
  {% else %}
    TURN_OFF_HEATERS
    M84
  {% endif %}
timeout: 1800

[stepper_x]
step_pin: PA8
dir_pin: PC9
enable_pin: !PA15
microsteps: 16
rotation_distance: 40
endstop_pin: !PB9
position_min: 0
position_endstop: 0
position_max: 315
homing_speed: 50

[stepper_y]
step_pin: PC7
dir_pin: !PC6
enable_pin: !PC8
microsteps: 16
rotation_distance: 40
endstop_pin: !PB8
position_endstop: 0
position_max: 315
homing_speed: 50

[stepper_z]
step_pin: PB10
dir_pin: !PA4
enable_pin: !PC4
rotation_distance: 8
microsteps: 16
position_min: -1
position_max: 400
endstop_pin: probe:z_virtual_endstop # Use Z- as endstop
#homing_speed: 10.0

[extruder]
max_extrude_only_distance: 100.0
step_pin: PC11
dir_pin: !PC10
enable_pin: !PC12
microsteps: 64
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA6
sensor_type: EPCOS 100K B57560G104F #Generic 3950
sensor_pin: PC5
min_extrude_temp: 170
min_temp: 0
max_temp: 300
# Calibrate E-Steps https://www.klipper3d.org/Rotation_Distance.html#calibrating-rotation_distance-on-extruders
rotation_distance: 17.75
# Calibrate PID: https://www.klipper3d.org/Config_checks.html#calibrate-pid-settings
#  - Example: PID_CALIBRATE HEATER=extruder TARGET=200
#control = pid
#pid_kp = 30.356
#pid_ki = 1.857
#pid_kd = 124.081
# Calibrate PA: https://www.klipper3d.org/Pressure_Advance.html
pressure_advance = .071
max_extrude_cross_section: 5
max_extrude_only_distance: 200

[heater_bed]
heater_pin: PA7
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC0
max_temp: 100
min_temp: 0
# Calibrate PID: https://www.klipper3d.org/Config_checks.html#calibrate-pid-settings
#  - Example: PID_CALIBRATE HEATER=heater_bed TARGET=60
#control = pid
#pid_kp = 64.230
#pid_ki = 0.723
#pid_kd = 1425.905

[heater_fan hotend_fan]
pin: PB1
heater: extruder
heater_temp: 50.0

[fan]
pin: PB0

[temperature_fan Artillery_MCU]
sensor_type: temperature_mcu 
pin: PA5                      
max_temp: 60.0                
target_temp: 40.0             
min_temp: 0
shutdown_speed: 0.0
kick_start_time: 0.5
off_below: 0.19
max_speed: 1.0
min_speed: 0.0
control: watermark
#pid_Kp: 2.0
#pid_Ki: 5.0
#pid_Kd: 0.5
#pid_deriv_time: 2.0

[force_move]
enable_force_move: True

[filament_switch_sensor filament_sensor]
pause_on_runout: true
switch_pin: PC1


[temperature_sensor CB1_Pi4B]
sensor_type: temperature_host
#min_temp: 10
#max_temp: 105


[probe]
pin: PC14
x_offset:45.2
y_offset:11.6
speed:5
lift_speed:15
#samples:
#sample_retract_dist:
#samples_result:
#samples_tolerance:
#samples_tolerance_retries:

#[z_tilt] #this is for if/when you decide to run a second driver and separate the right Z motor from the left (and remove the belt)
#z_positions:
#************ not set up yet. if you do set it up, make sure you PR ;) ************
#    -25, 0
#    250, 0
#   A list of X, Y coordinates (one per line; subsequent lines
#   indented) describing the location of each bed "pivot point". The
#   "pivot point" is the point where the bed attaches to the given Z
#   stepper. It is described using nozzle coordinates (the X, Y position
#   of the nozzle if it could move directly above the point). The
#   first entry corresponds to stepper_z, the second to stepper_z1,
#   the third to stepper_z2, etc. This parameter must be provided.
#points:
#    10,110
#    160,110
#   A list of X, Y coordinates (one per line; subsequent lines
#   indented) that should be probed during a Z_TILT_ADJUST command.
#   Specify coordinates of the nozzle and be sure the probe is above
#   the bed at the given nozzle coordinates. This parameter must be
#   provided.
#speed: 300
#   The speed (in mm/s) of non-probing moves during the calibration.
#   The default is 50.
#horizontal_move_z: 8
#   The height (in mm) that the head should be commanded to move to
#   just prior to starting a probe operation. The default is 5.
#retries: 10
#   Number of times to retry if the probed points aren't within
#   tolerance.
#retry_tolerance: 0.02
#   If retries are enabled then retry if largest and smallest probed
#   points differ more than retry_tolerance. Note the smallest unit of
#   change here would be a single step. However if you are probing
#   more points than steppers then you will likely have a fixed
#   minimum value for the range of probed points which you can learn
#   by observing command output.

[safe_z_home]
home_xy_position: 120, 153 #   X, Y coordinate (e.g. 100, 100) where the Z homing should be
speed: 300.0
z_hop: 10
z_hop_speed: 15.0

[bed_mesh]
speed: 300
horizontal_move_z: 6
mesh_min: 46,15
mesh_max: 300,300
probe_count: 10, 10
fade_start: 1.0
fade_end: 0.0
#fade_target:
#   The z position in which fade should converge. When this value is
#   set to a non-zero value it must be within the range of z-values in
#   the mesh. Users that wish to converge to the z homing position
#   should set this to 0. Default is the average z value of the mesh.
#split_delta_z: .025
#   The amount of Z difference (in mm) along a move that will trigger
#   a split. Default is .025.
#move_check_distance: 5.0
#   The distance (in mm) along a move to check for split_delta_z.
#   This is also the minimum length that a move can be split. Default
#   is 5.0.
#mesh_pps: 2, 2
#   A comma separated pair of integers X, Y defining the number of
#   points per segment to interpolate in the mesh along each axis. A
#   "segment" can be defined as the space between each probed point.
#   The user may enter a single value which will be applied to both
#   axes. Default is 2, 2.
algorithm: bicubic
#   The interpolation algorithm to use. May be either "lagrange" or
#   "bicubic". This option will not affect 3x3 grids, which are forced
#   to use lagrange sampling. Default is lagrange.
#bicubic_tension: .2
#   When using the bicubic algorithm the tension parameter above may
#   be applied to change the amount of slope interpolated. Larger
#   numbers will increase the amount of slope, which results in more
#   curvature in the mesh. Default is .2.
#relative_reference_index:
#   A point index in the mesh to reference all z values to. Enabling
#   this parameter produces a mesh relative to the probed z position
#   at the provided index.
#faulty_region_1_min:
#faulty_region_1_max:
#   Optional points that define a faulty region.  See docs/Bed_Mesh.md
#   for details on faulty regions.  Up to 99 faulty regions may be added.
#   By default no faulty regions are set.

[screws_tilt_adjust]
screw1: 120, 153
screw1_name: center reference
screw2: 7, 45
screw2_name: front left
screw3: 210, 45
screw3_name: front right
screw4: 227, 145
screw4_name: right center
screw5: 210, 245
screw5_name: rear right
screw6: 7, 245
screw6_name: rear left
screw7: 7, 145
screw7_name: left center
horizontal_move_z: 8
speed: 300
screw_thread: CW-M3

[gcode_macro M420]
description: Load the current mesh
gcode:
  BED_MESH_PROFILE LOAD=default

[gcode_macro SHOW_MESH_RESULT]
description: Shows the mesh results
gcode:
    BED_MESH_OUTPUT pgp=0

[gcode_macro ABL_MEASURE]
description: Home and run ABL *DO NOT USE IN START G CODE*
gcode: 
    M190 S60 ;HEAT BED
    G28
    BED_MESH_CALIBRATE
    SAVE_CONFIG

#[gcode_macro G34]
#description: z tilt measurement
#gcode:
#    G28
#    z_tilt_adjust
#    G28

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.147500, -0.150000, -0.177500, -0.195000, -0.167500, -0.135000, -0.050000, -0.005000, 0.060000, 0.142500
#*# 	-0.157500, -0.140000, -0.160000, -0.170000, -0.147500, -0.125000, -0.047500, -0.012500, 0.042500, 0.100000
#*# 	-0.135000, -0.125000, -0.137500, -0.140000, -0.130000, -0.115000, -0.037500, -0.025000, 0.027500, 0.075000
#*# 	-0.120000, -0.095000, -0.102500, -0.105000, -0.090000, -0.082500, -0.025000, -0.040000, 0.015000, 0.040000
#*# 	-0.085000, -0.042500, -0.040000, -0.047500, -0.035000, -0.037500, -0.007500, -0.005000, 0.010000, 0.032500
#*# 	-0.062500, -0.020000, -0.012500, -0.020000, -0.005000, -0.010000, 0.020000, -0.005000, 0.010000, 0.022500
#*# 	-0.030000, 0.005000, 0.010000, 0.007500, 0.027500, 0.015000, 0.055000, 0.045000, 0.035000, 0.052500
#*# 	-0.010000, 0.035000, 0.040000, 0.040000, 0.050000, 0.042500, 0.090000, 0.055000, 0.065000, 0.075000
#*# 	0.037500, 0.070000, 0.087500, 0.090000, 0.095000, 0.090000, 0.120000, 0.090000, 0.107500, 0.122500
#*# 	0.122500, 0.152500, 0.157500, 0.157500, 0.177500, 0.162500, 0.195000, 0.187500, 0.212500, 0.242500
#*# tension = 0.2
#*# min_x = 46.0
#*# algo = bicubic
#*# y_count = 10
#*# mesh_y_pps = 2
#*# min_y = 15.0
#*# x_count = 10
#*# max_y = 299.94
#*# mesh_x_pps = 2
#*# max_x = 299.97
#*#
#*# [probe]
#*# z_offset = 2.350
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 37.184
#*# pid_ki = 15.493
#*# pid_kd = 22.310
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 70.244
#*# pid_ki = 0.686
#*# pid_kd = 1799.137
